

	/* FONTS */


	// Akzidenz

	@font-face {

	    font-family: 'Akzidenz';
	    src: url('../../medias/fonts/akzidenz_normal.eot');
	    src: url('../../medias/fonts/akzidenz_normal.eot?#iefix') format('embedded-opentype'),
	         url('../../medias/fonts/akzidenz_normal.woff2') format('woff2'),
	         url('../../medias/fonts/akzidenz_normal.woff') format('woff'),
	         url('../../medias/fonts/akzidenz_normal.ttf') format('truetype'),
	         url('../../medias/fonts/akzidenz_normal.svg#akzidenz-grotesk_bq_condensBd') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {

	    font-family: 'Akzidenz';
	    src: url('../../medias/fonts/akzidenz_medium.eot');
	    src: url('../../medias/fonts/akzidenz_medium.eot?#iefix') format('embedded-opentype'),
	         url('../../medias/fonts/akzidenz_medium.woff2') format('woff2'),
	         url('../../medias/fonts/akzidenz_medium.woff') format('woff'),
	         url('../../medias/fonts/akzidenz_medium.ttf') format('truetype'),
	         url('../../medias/fonts/akzidenz_medium.svg#akzidenz-grotesk_bq_condensBd') format('svg');
	    font-weight: medium;
	    font-style: normal;

	}

	@font-face {

	    font-family: 'Akzidenz';
	    src: url('../../medias/fonts/akzidenz_bold.eot');
	    src: url('../../medias/fonts/akzidenz_bold.eot?#iefix') format('embedded-opentype'),
	         url('../../medias/fonts/akzidenz_bold.woff2') format('woff2'),
	         url('../../medias/fonts/akzidenz_bold.woff') format('woff'),
	         url('../../medias/fonts/akzidenz_bold.ttf') format('truetype'),
	         url('../../medias/fonts/akzidenz_bold.svg#akzidenz-grotesk_bq_condensBd') format('svg');
	    font-weight: bold;
	    font-style: normal;

	}


	// Nuku

	@font-face {

	    font-family: 'Nuku';
	    src: url('../../medias/fonts/nuku.eot');
	    src: url('../../medias/fonts/nuku.eot?#iefix') format('embedded-opentype'),
	         url('../../medias/fonts/nuku.woff2') format('woff2'),
	         url('../../medias/fonts/nuku.woff') format('woff'),
	         url('../../medias/fonts/nuku.ttf') format('truetype'),
	         url('../../medias/fonts/nuku.svg#akzidenz-grotesk_bq_condensBd') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}